<div class="jumbotron">
    <h1>Login Status：@User.Identity.IsAuthenticated</h1>
    <p class="lead">
        Login User：@User.Identity.Name
    </p>
    <p>@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>